@import './color.scss';
@import './_responsive.scss';


.errors{
    color: $error;
}
.primary{
    background-color: $primary-color !important;
}
.btn-primary{
    background-color: $primary-color !important;
    border-color: $primary-color !important;
    color: white !important;
}
.btn-success{
  background-color: $success-color !important;
  border-color: $success-color !important;
  color: white !important;
}
.tab-color{
    background-color: $primary-color !important;
}
.text-primary{
    color: $primary-color !important;
}
.input-file-image {
    display: none;
    bottom: 100px;
    height: 100%;
    left: 0;
    opacity: 0;
    outline: none;
    top: 0;
    width: 100%;
    cursor: pointer;
    background-color: red;
    z-index: 9;
  }

  .c-btn{
    font-size: 1.2rem !important;
  }
  .text-small{
      font-size: 12px;
  }
  .text-medium{
      font-size: 14px;
  }
  .text-normal{
      font-size: 16px;
  }
  .text-large{
      font-size: 18px;
  }
  .text-xlarge{
      font-size: 24px;
  }
  .red-color{
      color: $red-color;
  }
  .succes-color{
      color: $success-color;
  }
  .input-number input[type='number'] {
    -moz-appearance: textfield;
  }
  .input-number input::-webkit-outer-spin-button,
  .input-number input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
.logo{
  margin: auto;
}
.img-payment{
  border: 2px solid $primary-color !important;
}
.img-payment-error{
    border: 2px solid $red-color !important;
}
